// Theme specific styling.

@import 'settings';
@import 'typography';
@import 'breakpointdebug';
@import 'node_modules/baguettebox.js/src/baguetteBox';
@import 'node_modules/prismjs/themes/prism';
@import '../source/node_modules/bulma-carousel/dist/css/bulma-carousel.min.css';
@import "../source/node_modules/@fortawesome/fontawesome-free/css/all.min.css";


.visually-hidden:not(:focus):not(:active) {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
.skip-link {
    font-family: $font-serif;
    font-size: $size-large;
    font-weight: bold;
    position: absolute;
    top: 60px;
    z-index: 1;
}

.navbar-brand {
    .navbar-item {
        font-family: $font-serif;
        font-size: $size-large;
        font-weight: bold;
    }
}

.navbar-end {
    align-items: center;
    @include mobile {
        form {
            padding: 1rem;
            .control:first-child {
                width: 100%;
            }
        }
    }
}

.notification {
    ul {
        margin: 0.5em 1.4em;
        list-style-type: disc;
    }
}

.teaser {
    font-weight: bold;
    margin-bottom: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .button:last-child {
        margin-top: auto;
    }

    p {
        height: 100%;
    }
}

.section-latest-entries {
    .buttons {
        margin-top: 1.5rem;
    }
}

.tags {
    margin-top: 3rem;
    .label {
        margin-right: .5em;
    }
}

.section-record {
    .image {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

.button {
    text-decoration: none;
}

p.meta {
    margin-top: 1rem;
    color: $medium;
    font-size: 90%;
}

.media {
    @include mobile {
        flex-direction: column;
    }
}
.media-right {
    flex-shrink: 1;
    margin-left: 0;
    @include mobile {
        order: -1;
        width: 100%;
        margin-bottom: 1rem;
    }
}

.imageholder {
    img {
        width: 100%;
    }
}

.notification > .delete {
    right: .5rem;
    top: .5rem;
}


.hero-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 52px;
}

.hero.is-large .hero-body {
    padding-bottom: 4rem;
    padding-top: 4rem;
    h1.title,
    h2.subtitle {
        text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
    }
    h1.title  {
        font-size: $title-size;
        font-weight: bold;
    }
    h2.subtitle  {
        font-size: $subtitle-size;
    }
    @include tablet {
        padding-bottom: 12rem;
        padding-top: 12rem;
        h1.title  {
            font-size: $title-size * 1.25;
        }
        h2.subtitle  {
            font-size: $subtitle-size * 1.25;
        }
    }
    @include desktop {
        padding-bottom: 16rem;
        padding-top: 16rem;
        h1.title  {
            font-size: $title-size * 1.5;
        }
        h2.subtitle  {
            font-size: $subtitle-size * 1.5;
        }
    }

}

.footer {
  padding: 2rem 1.5rem
}

// https://antoningrele.github.io/img-brightness-normalization/normalizeBrightness.css
[data-background-image] { position: relative; }

[data-background-image] .dark-overlay {
	/*	This is the element that is going to darken the background image
	By default, it's entirely black, but the JS code will give it
	some transparency by setting its opacity to a calculated value.
	The brighter the image, the higher the opacity, to compensate ! */

	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: black;
}

pre {
    // Fix tags in PrismJS.
    .tag {
        margin: 0;
        padding: 0;
        background-color: transparent;
        display: inherit;
        font-size: inherit;
    }
    .number {
        font-size: 1em;
    }
}

/**
 *  Retouche perso 
 */


// Page section divider


.custom-shape-divider-bottom-1606834316 {
    position: relative;
    top: -49px;
    left: -32px;
    width: 121%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1606834316 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
}

.custom-shape-divider-bottom-1606834316 .shape-fill {
    fill: #ffffff;
}

// Header divider

.custom-shape-divider-bottom-1606835177 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1606835177 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 53px;
}

@include mobile {
    .custom-shape-divider-bottom-1606835177 svg {
        height: 25px;
    }
}

.custom-shape-divider-bottom-1606835177 .shape-fill {
    fill: #FFFFFF;
}

// Footer divider

.custom-shape-divider-bottom-1606835898 {
    position: relative;
    top: -49px;
    left: -32px;
    width: 121%;
    overflow: hidden;
    line-height: 0;
    transform: rotateX(180deg);
}

.custom-shape-divider-bottom-1606835898 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 107px;
}

.custom-shape-divider-bottom-1606835898 .shape-fill {
    fill: #ffffff;
}

// Pages divider bottom
.custom-shape-divider-top-1606838621 {
    position: relative;
    top: 49px;
    left: -32px;
    width: 121%;
    overflow: hidden;
    line-height: 0;    
    transform: rotateX(180deg);
}

.custom-shape-divider-top-1606838621 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
}

.custom-shape-divider-top-1606838621 .shape-fill {
    fill: #ffffff;
}

// Machine features divider bottom

.custom-shape-divider-top-1610655488 {
    position: relative;
    top: -49px;
    left: -32px;
    width: 121%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1610655488 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
}

.custom-shape-divider-top-1610655488 .shape-fill {
    fill: #FFFFFF;
}

/**
*  Sponsor divider top
*/
.custom-shape-divider-top-1607521442 {
    position: relative;
    top: 49px;
    left: -32px;
    width: 121%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1607521442 svg {
    position: relative;
    display: block;
    width: calc(114% + 1.3px);
    height: 105px;
}

.custom-shape-divider-top-1607521442 .shape-fill {
    fill: #ffffff;
}


/**
*  Sponsor divider bottom
*/
.custom-shape-divider-top-1607529176 {
    position: relative;
    top: -49px;
    left: -32px;
    width: 121%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1607529176 svg {
    position: relative;
    display: block;
    width: calc(136% + 1.3px);
    height: 66px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1607529176 .shape-fill {
    fill: #ffffff;
}

  //======================

.navbar-end .control input.input {
    border-radius: 4px !important;
}


.card {
    border-radius: 6px;
}

.card .is-success {
    background-color: $success;
}

.card .is-link {
    background-color: $link;
}

.card .is-info {
    background-color: $info;
}

.card .is-formation {
    background-color: $formation;
}

.card .is-primary {
    background: rgb(105,72,115);
    background: linear-gradient(90deg, rgba(105,72,115,1) 0%, rgba(171,58,130,1) 0%, rgba(194,53,135,1) 71%);
}

.section-level {
    background-color: $link;
    color: #FFFFFF;
}
  
  // Sponsors ====

.bd-partner-sponsors {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: center;
    margin: 0 auto;
}

@media screen and (min-width: 1216px) {
    .bd-partner-sponsors {
        min-height: 120px;
    }
}


@media screen and (min-width: 769px), print {
    .bd-partner-sponsor {
        width: 12rem;
    }
}

.bd-partner-sponsor {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .25rem 1rem;
    min-height: 80px;
    text-align: center;
}

.bd-sponsor-item {
    flex-grow: 1;
    position: relative;
}

.slider {
    outline: none;
}



.tab-content {
    display: none;

    &.is-active {
      display: block;
    }
  }

  .tabs ul {
	flex-shrink: 1;
	flex-wrap: wrap;
	border-bottom-color: transparent;
}

.bg-blob {
    background-image: url("../image/machine_feature_blob.svg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    min-height: 21em;
}

section.is-primary {
    background-image: linear-gradient(to right top, #694873, #7d477d, #934484, #aa3e87, #c23587);
}

section.is-success {
    background: rgb(114,161,229);
    background: linear-gradient(148deg, rgba(114,161,229,1) 0%, rgba(140,167,220,1) 31%, rgba(223,185,193,1) 98%, rgba(252,191,183,1) 100%);
}

section.is-info {
    background: rgb(252,191,183);
    background: linear-gradient(145deg, rgba(252,191,183,1) 16%, rgba(231,147,146,1) 100%, rgba(220,124,126,1) 100%, rgba(196,74,84,1) 100%);
}

nav.is-primary {
    background: rgb(105,72,115);
    background: linear-gradient(90deg, rgba(105,72,115,1) 0%, rgba(171,58,130,1) 33%, rgba(194,53,135,1) 58%);
}