<div class="px-5 mt-6 is-hidden-mobile">
    <div class="facebook-page" 
         data-src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flatelierdeclaret&tabs=timeline&width=340&height=1100&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" 
         data-width="340" 
         data-height="1100">
    </div>
</div>