{% extends 'partials/_master.twig' %}

{% block main %}
<section class="section pb-32 pt-16">
    <div class="container mx-auto flex max-w-5xl">
        <div class="lg:w-2/3">
            {{record.section_introduction}}
        </div>
        <div class="w-1/3 hidden lg:block">
            {% include 'partials/_social_links.twig' %}
            {% include 'partials/_aside_pined_articles.twig' %}
            {% include 'partials/_aside_facebook_page.twig' %}
        </div>
        
    </div>
</section>

{{record.content}}

<section class="section bg-blue">
    {% include 'partials/_machine_features_divider_bottom.twig' %}

    <div class="w-full my-16">
        <h1 class="text-5xl text-center text-white font-serif font-bold">Les Coworkers</h1>
    </div>
        {% setcontent peoples = 'people' where {groups: 'Coworkers'}%}
        {% include 'partials/_carousel_people.twig' with {'peoples': peoples} %}

        {% include 'partials/_pages_divider_bottom.twig' %}
</section>
{# Latest entries #}

<section class="section section-latest-entries">
    <div class="container max-w-5xl mx-auto mt-0 m-8">
            <div class="w-full my-16">
                <h2 class="text-5xl text-center font-serif font-bold ">L'Actu des Coworkers</h2>
            </div>
        {% setcontent entries = 'articles' where {tags: 'coworking'} latest limit 3 %}
        {% include 'partials/_listing_entries.twig' with {'entries': entries} %}

        <div class="buttons has-addons is-right">
            <a class="button is-primary" href="{{ path('listing', {'contentTypeSlug': 'articles'}) }}">Read more <span class="is-hidden"> Entries</span></a>
        </div>
    </div>
</section>

{% endblock main %}