{% extends 'partials/_master.twig' %}

{% setcontent fablab = 'page/fablab'%}
{% block header %}
    {% include 'partials/_header.twig' with {'image_header': fablab.image} %}
{% endblock %}

{% block main %}

<section class="section section-latest-entries min-h-screen">
    {% include 'partials/_tabs_machines.twig' %}
</section>

{% endblock main %}