{% extends 'partials/_master.twig' %}

{% block main %}

<section class="section pb-32 pt-16">
    <div class="container mx-auto flex max-w-5xl">
        <div class="lg:w-2/3">
            {{record.section_introduction}}
        </div>
        <div class="w-1/3 hidden lg:block">
            {% include 'partials/_social_links.twig' %}
            {% include 'partials/_aside_pined_articles.twig' %}
        </div>
    </div>
</section>

    {{record.content}}

{% endblock main %}
