<!--Footer-->
<footer class="gradient-primary-01 text-gray-700 body-font">
    {% include 'partials/_index_footer_divider_top.twig' %}

	<div class="container px-5 py-20 mx-auto max-w-5xl">
		<div class="flex flex-wrap text-center order-first md:px-32 lg:px-0">
			<div class="w-full pb-12">
				<div class="max-w-2xl mx-auto">
					{% include 'partials/_search_widget.twig' %}
				</div>
			</div>
			{% include 'partials/_latest_few_of_everything.twig' %}
		</div>
	</div>

	<div class="bg-pink-400">
		<div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
			<a class="flex font-serif font-bold text-2xl items-center md:justify-start justify-center text-pink-200">
				{% include 'img/logo.svg' %}
				<span class="ml-3">{{ config.get('general/sitename') }}</span>
			</a>

			<p class="text-sm text-pink-300 sm:ml-6 sm:mt-0 mt-4">© {{ "now"|date('Y') }} —
				<a href="https://boltcms.io" rel="noopener noreferrer" class="text-pink-200 ml-1" target="_blank">Construit avec Bolt !</a>
			</p>

			<span class="inline-flex text-pink-100 sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start hover:text-pink">
				{% set parameters = {'contentTypeSlug': 'pages', 'slugOrId': 'mentions-legales'} %}
                <a href="{{ url('record', parameters, true)}}">Mentions Légales</a>
			</span>
		</div>
	</div>
</footer>