<!-- Divider swirl -->
<div class="top-0 left-0 w-full z-20 transform -translate-y-1 rotate-180">
<!-- Divider swirl -->
    <svg class="text-white fill-current h-12 w-full" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 130" preserveAspectRatio="none">
         <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" class="shape-fill"></path>
    </svg>
</div>